<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title: "Pokémon-API"}) %>
  <link rel="stylesheet" href="css/home.css" />
  <body>
    <main>
      <section class="intro">
        <h2>Welcome to the Pokémon API</h2>
        <p>
          Discover information about your favorite Pokémon and their attacks.
        </p>
      </section>
      <section class="links">
        <div class="pokemon-link">
          <img
            src="https://raw.githubusercontent.com/LarsVerheyden/Terminal-App/main/Pokemon-general%20image.jpg"
            alt="Pokémon Image"
          />
          <h3>Pokémons</h3>
          <p>View details of all Pokémons.</p>
          <a href="/pokemons" class="button">View Pokémons</a>
        </div>
        <div class="attack-link">
          <img
            src="https://raw.githubusercontent.com/LarsVerheyden/Terminal-App/main/pokemon%20attack.jpg"
            alt="Attack Image"
          />
          <h3>Attacks</h3>
          <p>Discover the different attacks that Pokémons can learn.</p>
          <a href="/pokemonAttacks" class="button">View Attacks</a>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Pokémon-API. All rights reserved.</p>
    </footer>
  </body>
</html>
