<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= title %></title>
</head>
<header>
  <h1>Pokémon API</h1>
  <nav>
    <ul>
      <li><a href="/pokemons">Pokémons</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/pokemonAttacks">Attacks</a></li>
    </ul>
  </nav>
</header>
